<launch>
  <arg name="enable_magnet" default="true" />
  <arg name="actuator_slots" default="[1, 2, 3]" />
  <arg name="release_sequence_slots" default="[1, 3, 2]" />

  <node pkg="electromagnet_control" type="electromagnet_service_node" name="electromagnet_control" output="screen">
    <param name="magnet/enable" value="$(arg enable_magnet)" />
    <rosparam param="magnet/actuator_slots" subst_value="true">$(arg actuator_slots)</rosparam>
    <rosparam param="magnet/release_sequence_slots" subst_value="true">$(arg release_sequence_slots)</rosparam>
    <param name="magnet/actuator_set_index" value="0" />
    <param name="magnet/hold_value" value="1.0" />
    <param name="magnet/release_value" value="-1.0" />
    <param name="magnet/hold_low" value="true" />
    <param name="magnet/release_resend_period" value="0.05" />
    <param name="magnet/error_throttle_sec" value="2.0" />
    <param name="magnet/max_fail_count" value="30" />
    <param name="magnet/disable_on_fail" value="false" />
  </node>
</launch>
